<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" >
 

  <!--    <test name="exampletest1" preserve-order="true">
    <classes>
       <class name="com.fp.example.Round_Trip" />
    </classes>
  </test>

    <test name="exampletest2" preserve-order="true">
    <classes>
       <class name="com.fp.example.Total_Price_Check" />
    </classes>
  </test>

    <test name="exampletest3" preserve-order="true">
    <classes>
       <class name="com.fp.example.Check_My_Booking" />eq
    </classes>
  </test>


  <test name="exa
  
  
  mpletest4" preserve-order="true">
    <classes>
       <class name="com.fp.example.Promo_Code_Verification" />
    </classes>
  </test> 
  
    --> 
<listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
   </listeners>

 <test name="Regression1" preserve-order="true" parallel="false"> 
    <classes>
        @Test(sequential = true)
     <class name="com.fp.core.cheapoair.Round_Trip"/>  
      
       <class name="com.fp.core.cheapoair.One_Way"/>



        <class name="com.fp.core.cheapoair.Car_Booking"/>   
         <class name="com.fp.core.cheapoair.Check_My_Booking"/>
        <class name="com.fp.core.cheapoair.Car_Check_My_Booking"/>
      <class name="com.fp.core.cheapoair.Total_Price_Check"/>  
      
       <class name="com.fp.core.cheapoair.Android_Feedback"/>
        <class name="com.fp.core.cheapoair.Sign_In"/>   
         <class name="com.fp.core.cheapoair.Promo_Code_Verification"/>
   
       <class name="com.fp.core.cheapoair.Add_CoTraveler"/>
      <class name="com.fp.core.cheapoair.Delete_CoTraveler"/>
       
          
         </classes>
  </test>

</suite>
